<h1> Kinza Masood </h1>
<img src="https://esmmweighless.com/new-esmm/wp-content/uploads/2015/04/aplle.jpg" />
<a href="https://www.linkedin.com/in/kinzamasood"> My linkedin! </a>
<h2> I am an IT professional </h2>
<p> I would like to learn how to code really well some day </p>
<a href="https://www.linkedin.com/in/kinzamasood"> read_more </a>

